.list-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-tile .leading {
  display: flex;
  align-items: center;
}
.list-tile .leading .icon {
  font-size: 40px;
  margin-right: 10px;
}
